extends layout

block content

  body(style="margin: 0; background: url('/HospitalBedss.jpg') center center fixed; background-size: cover;")

    div.overlay(style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: -1;")

    div.content(style="position: relative; z-index: 1; text-align: center; color: white; margin-top: 50px;")

      //- Login Form
      h2(style="font-family: Arial, sans-serif; font-weight: bold; text-transform: uppercase;") Login
      //- Loop through and display errors
      if errors
        each error in errors
          p(style="color:red;") #{error.msg}

      form(style="text-align: center;" action="/users/login" method="POST")

        //- Create input elements based on the user model
        div#form-group(style="margin-bottom: 10px; display: flex; flex-direction: column; align-items: center;")
          label(style="color: white; font-weight: bold; text-transform: uppercase; font-family: Arial, sans-serif; width: 120px;") EMAIL:
          input.form-control(name="email", type="text", style="text-align: center; width: 200px;")

        div#form-group(style="margin-bottom: 20px; display: flex; flex-direction: column; align-items: center;")
          label(style="color: white; font-weight: bold; text-transform: uppercase; font-family: Arial, sans-serif; width: 120px;") PASSWORD:
          input.form-control(name="password", type="password", style="text-align: center; width: 200px;")

        input.btn.btn-primary.rounded(type="submit", value="SUBMIT", style="background-color: #00095E; color: white; text-transform: uppercase; font-weight: bold; font-family: Arial, sans-serif; border-radius: 25px; padding: 10px 20px;")

//- View login page: http://localhost:3000/users/login